<!-- Building the ACCOUNT REGISTRATION View 
 This file display the FORM the user will use to register
 into their or creater an account in the database
-->
<h1>
    <%= title %>
</h1>

<%- messages() %>

    <!-- Registration Error Display-->
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <!--Form Registration -->
            <div class="login-container">
                <form action="/account/register" method="post" class="login-form">
                    <label for="firstName">First Name:*</label>
                    <input type="text" name="account_firstname" id="firstName" required
                        value="<%= locals.account_firstname %>">

                    <label for="lastName">Last Name:*</label>
                    <input type="text" name="account_lastname" id="lastName" required
                        value="<%= locals.account_lastname %>">

                    <label for="accountEmail">Email Address:* </label>
                    <input type="email" name="account_email" id="accountEmail" required placeholder="example@domain.com"
                        value="<%= locals.account_email %>">

                    <label for="accountPassword">Password:* </label>
                    <span>Password must be a minimum of 12 characters and 1 capital letter, 1 number and 1 special
                        character.</span>
                    <input type="password" name="account_password" id="accountPassword" required
                        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

                    <button type="button" id="pwsBtn">Show Password</button>

                    <button type="submit">Register</button>
                </form>
            </div>